<md-dialog aria-label="Mango (Fruit)">
    <form>
        <md-toolbar md-theme="modalTool">
            <div class="md-toolbar-tools">
                <h2>Mango (Fruit)</h2>
                <span flex></span>
                <md-button class="md-icon-button">
                    <md-icon md-svg-src="styles/svg/cross.svg" class="c-white" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="column">
                <md-content layout-padding="">
                    <form name="userForm">
                        <div layout="" layout-sm="column">
                        </div>
                        <div layout="" layout-sm="column">
                            <md-input-container flex="">
                                <label>First name</label>
                                <input ng-model="user.firstName">
                            </md-input-container>
                            <md-input-container flex="">
                                <label>Last Name</label>
                                <input ng-model="theMax">
                            </md-input-container>
                        </div>
                        <md-input-container flex="">
                            <label>Description</label>
                            <textarea ng-model="user.description" columns="1" md-maxlength="150"></textarea>
                        </md-input-container>
                        <div layout="" layout-sm="column">
                            <md-input-container flex="">
                                <label>City</label>
                                <input ng-model="user.city">
                            </md-input-container>
                            <md-input-container flex="">
                                <label>State</label>
                                <input ng-model="user.state">
                            </md-input-container>
                            <md-input-container flex="">
                                <label>Postal Code</label>
                                <input ng-model="user.postalCode">
                            </md-input-container>
                        </div>
                        <md-input-container flex="">
                            <label>Biography</label>
                            <textarea ng-model="user.biography" columns="1" md-maxlength="150"></textarea>
                        </md-input-container>
                    </form>
                </md-content>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row" md-theme="modalTool">
            <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
                More on Wikipedia
            </md-button>
            <span flex></span>
            <md-button ng-click="answer('not useful')" class="md-primary">
                Not Useful
            </md-button>
            <md-button ng-click="answer('useful')" class="md-primary">
                Useful
            </md-button>
        </div>
    </form>
</md-dialog>
